{% extends "layout.html" %}
{% block content %}
    <div class="home">
        <h1>Upload the file</h1>
    </div>
    <form action = "/checker" method = "POST" enctype = "multipart/form-data">
        <p>
            <select size="1" name="statmodel">
                <option disabled>Choise model</option>
                <option value="LogisticModel">LogisticModel</option>
                <option selected value="RegressionModel">RegressionModel</option>
            </select>
        </p>
        <p>
            <select size="1" name="preprocess">
                <option disabled>Use data preprocessing</option>
                <option selected value="scale">scale</option>
                <option value="no">no</option>
            </select>
        </p>
        <br>
        <input type = "file" name = "file" />
        <input type = "submit"/>
        <br>
        <br>
          <table border="1" class="dataframe data">
            {%for key in config%}
              <thead>
                <tr style="text-align: center;">
                  <th></th>
                  <th>Use</th>
                  {% for param in config[key]%}
                    <th>{{param}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center;">
                  <th>{{key}}</th>
                  <td><input type="checkbox" checked="checked" name="config[{{key}}][use]" /></td>
                  {% for param in config[key]%}
                    <td><input type="number" step="0.01" value={{config[key][param]}} name="config[{{key}}][{{param}}]"></td>
                  {% endfor %}
                </tr>
              </tbody>
              <tbody>
                <tr style="text-align: center;">
                </tr>
              </tbody>
            {% endfor %}
          </table>
    </form>
{% endblock %}